[submodule "ipc"]
	path = ipc
	url = https://github.com/fluencelabs/ipc
	branch = fluence
[submodule "deal"]
	path = deal
	url = https://github.com/fluencelabs/deal
	branch = main
[submodule "ccp"]
	path = ccp
	url = https://github.com/fluencelabs/capacity-commitment-prover.git
